@charset "utf-8";
// If need, change your variables before importing Bulma
$title-color: #ff0000;
@import '~bulma/css/bulma.min.css';

.navbar-menu {
    background-color: #ebeef3;
}
.navbar-item{
    background-color: #ebeef3;
}

.navbar-item a{
    font-weight: bold;
}
